a {
 text-decoration: none;
}

.header-container {
 position: relative;
 top: 0;
 left: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 1;
 padding: 60px;
 margin: 0 auto;
}

.header-container.opan-menu {
 background-color: white;
 border-bottom: 1px solid gray;
}


.header-container.open-menu::after {
 content: '';
 display: block;
 position: absolute;
 width: 100%;
 height: 40px;
 background-color: white;
 top: calc(100% + 1px);
}

.main-logo .open-menu {
 display: none;
}

.hover-logo {
 display: none;
}

.header-container.open-menu .hover-logo {
 display: block;
}

#head-logo {
 position: absolute;
 left: 32px;
}

#head-logo>a {
 display: block;
 width: 158px;
 height: 26px;
}

#head-logo>a>img {
 width: 100%;
 height: 100%;
}
.background-video {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
}

#head-nav ul {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.hidden-menu{
 position: absolute;
 top: calc(100% + 1px);
 z-index: 10;
 height: 40px;
 width: 100%;
 left: 0;
 align-items: center;
 justify-content: center;
 gap: 40px;
 opacity: 0;
 transition: .2s;
 display: none;
}
.hidden-menu a:hover {
 color: red;
}

.header-container.open-menu .hidden-menu {
 display: flex;
}

.main-menu

#head-nav div {
 padding: 37px;
 font-weight: bold;
 cursor: pointer;
}

.main-menu:hover .hidden-menu{
 display: block;
}

.main-menu div {
 color: white;
}

.main-menu div:hover {
 color: red;
}

.hidden-menu:hover a {
 color: red;
}

.hidden-menu a {
 padding: 32px;
 color: white;
}

.material-symbols-outlined {
 cursor: pointer;
 color: white;
}

/* animation */
.animation-content {
 width: 100px;
 height: 20px;
 /* border: 1px solid white; */
 z-index: 1;
 position: relative;
 top: 50%;
 left: 0;
}

.dot {
 width: 20px;
 height: 20px;
 position: absolute;
 /* top: 50%; */
 left: 0;
 box-sizing: border-box;
 border-radius: 50%;
 background-color: red;
}

.line {
 border: 1px solid red;
 position: absolute;
 width: 100%;
 box-sizing: border-box;
 top: 50%;
 animation: line-animation 1s  both;
}

.dot-right {
 position: absolute;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 box-sizing: border-box;
 background-color: red;
 animation: dot-animation 1s both;
}

@keyframes line-animation {
 0% {
  width: 0;
 }
 100% {
  width: 100%;
 }
}

@keyframes dot-animation {
 0% {
  transform: translateX(0px);
 }
 100% {
  transform: translateX(100px);
 }
}